$color-white: #FFFFFF;

$color-black: #333333;

$color-link-blue: #0074AD;

$color-lightgrey: #D1D1D1;

$color-lightblue: #ECF9FF;

$color-grey: #686868;

$color-red: #C72E53;

.common-red {
  color:$color-red;
}